* {
    margin: 0px;
    padding: 0px;
  }
  
  .box3 {
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    background:#00bfb6;
    padding: 10px;
    font-weight: 500;
    position: relative;
  }
  
  .s1 {
    border-radius: 10px;    
    color: #fff;
    font-weight: 400;
    font-size: 75%;
    font-family: arial;
    position: relative;
  }
.hola{
    vertical-align: bottom;

}

  .s2 {
    
    padding-top: 3px;
    
    color: #fff;
    font-weight: 400;
    font-size: 100%;
    font-family: arial;
    position: relative;
  }

  .s3{
    border-radius: 3px;
    background: #00a29b;
    padding: 8px
  }

  .s4 {
    padding-left: 7px;
  }


  

  