<ion-header>
    <ion-toolbar color = "success">
    <ion-button slot = "start" fill = "clear" (click) ="closeChat()">
        <ion-icon style= "color:aliceblue; font-size: 25px " name="arrow-back-outline"></ion-icon>
    </ion-button>
      <ion-title>{{name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ul *ngIf = "room" class= "hola"> 
        <div *ngFor = "let mens of room.mensaje">
          <div class="box3">
            <div class = "s1">
              <div class = "s4">
                {{mens.who[1]}}    
              </div>          
            </div>
            <div class = "s2">
              <div class = " s3">
               {{mens.contenido}}
              </div>
            </div>
          </div>
          </div>
    </ul>
  </ion-content>
  
  <ion-footer>
      <ion-item>
          <ion-textarea [(ngModel)] = "msg"></ion-textarea>
          <ion-buttom color = "success">
            <br>
             <ion-icon name = "send" (click) = "enviarMsg()" color = "success"></ion-icon>
          </ion-buttom>
      </ion-item>
  </ion-footer>
