<ion-header>
  <ion-toolbar color = "danger">
    
    <ion-button slot = "start" fill = "clear" routerLink = "/login">
      <ion-icon style= "color:aliceblue; font-size: 25px " name="arrow-back-outline"></ion-icon>
    </ion-button>
  
      <ion-title>Registro</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class = "icon" src = "assets/icon/logo.png" alt = ""> 
</ion-content>

<ion-content padding>

  <ion-item>
    <ion-label position = "floating">Nombre y Apellido</ion-label>
    <ion-input type = "text"  [(ngModel)]= "name"  name = "name"></ion-input>
  </ion-item>
  
<ion-item>
  <ion-label position = "floating">Correo</ion-label>
  <ion-input type = "text"  [(ngModel)]= "email"  name = "Correo"></ion-input>
</ion-item>

<ion-item>
  <ion-label position = "floating">Contraseña</ion-label>
  <ion-input  [(ngModel)]= "password"name = "password"></ion-input>
</ion-item>
<br>

<ion-item>
  <ion-label position = "floating">Carrera</ion-label>
  <ion-input  [(ngModel)]= "carrera"name = "carrera"></ion-input>
</ion-item>
<br>


<ion-list>
  <div class="ion-text-center">
    <ion-label>
      ¿De que departartamento pertences?
    </ion-label>
  </div>
  <ion-item >
    <ion-label>Departamento</ion-label>
    <ion-select multiple="false" okText="Okay!" [(ngModel)] = "departamento">
      <ion-select-option value="Ingenieria">Ingenieria</ion-select-option>
      <ion-select-option value="Ciencias y Humanidades">Ciencias y Humanidades</ion-select-option>
      <ion-select-option value="Ciencias Sociales">Ciencias Sociales</ion-select-option>
      <ion-select-option value="Colegio Universitario (BS/BA)">Colegio Universitario (BS/BA)</ion-select-option>
      <ion-select-option value="Educacion">Educacion</ion-select-option>
      <ion-select-option value="Business And Management School">Business And Management School</ion-select-option>
      <ion-select-option value="Desing Innovation & Arts Schools">Desing Innovation & Arts Schools</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>


<ion-list>
  <div class="ion-text-center">
    <ion-label>
      ¿Que clase estas recibiendo este semestre?
    </ion-label>
  </div>

  <ion-item >
    <ion-label>Clases</ion-label>
    <ion-select multiple="true" okText="Okay!" [(ngModel)] = "clase">
      <ion-select-option value="Calculo I">Calculo I</ion-select-option>
      <ion-select-option value="Pensamiento Cuantitativo">Pensamiento Cuantitativo</ion-select-option>
      <ion-select-option value="Ciudadania Global">Ciudadania Global</ion-select-option>
      <ion-select-option value="Algoritmos y Programación Básica">Algoritmos y Programación Básica</ion-select-option>
      <ion-select-option value="Estadistica I">Estadistica I</ion-select-option>
      <ion-select-option value="Quimica I">Quimica I</ion-select-option>
      <ion-select-option value="Quimica II">Quimica II</ion-select-option>
      <ion-select-option value="Quimica General">Quimica General</ion-select-option>
      <ion-select-option value="Fisica I">Fisica I</ion-select-option>
      <ion-select-option value="Coaching">Coaching</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<br>
<div class="ion-text-center">
<ion-button color = "secondary" expand="block" (click)= "OnSubmitRegister()">Registrarse</ion-button>
</div>

<br>


